* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nanum Gothic";
}

.clearfix::after {
    content: "";
    display: block;
    clear: left;
}

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

nav {
    width: 100%;
    min-width: 980px;
    height: 70px;
    padding: 20px;
}

nav ul li {
    list-style: none;
    float: right;
    margin: 0 20px;
    position: relative;
    bottom: 23px;
    font-size: 15px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: lightslategrey;
}

a:active {
    color: lightslategrey;
}

header {
    width: 100%;
    min-width: 980px;
    height: 600px;
    padding: 10px;
    background-image: url(Hakodate.jpg);
    background-size: cover;
}

header h2 {
    text-align: center;
    font-size: 60px;
    padding: 30px;
    margin-top: 80px;
    font-family: "Nanum Myeongjo";
}

header p {
    font-size: 18px;
    text-align: center;
    padding: 60px;
    margin-top: 30px;
    color: antiquewhite
}

section {
    width: 100%;
    min-width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
    padding: 10px 0;
}

article {
    width: 310px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}

article img {
    height: 310px;
    width: 310px;
    object-fit: cover;
}

article p {
    width: 310px;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-size: 15px;
    background-color: black;
    min-width: 980px;
}

footer p{
    color: whitesmoke;
}
